.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    break-inside: avoid-page;

    border-collapse: collapse;
    
    &--white {
        color: black;
        background-color: white;
        border: 0.2rem solid black;
        &:hover {
            background-color: white;
        }

        & button {
            color: black;
        }

        .delete-button {        
            &:hover{
                box-shadow: 3px 3px 0px #231f20;
            }
        }
    }


    &--black {
        color: white;
        background-color: #231f20;
        border: 0.2rem solid white;
        &:hover {
            background-color: #2b2627;
        }
        
        & button {
            color: white;
        }

        .delete-button {        
            &:hover{
                box-shadow: 3px 3px 0px gray;
            }
        }
    
    }

    &--footer {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 0.2rem;
        text-align: end;
    }
    
    .delete-button {
        background-color: transparent;
        border: solid;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
    
        &:hover{
            translate: -3px -3px;
        }
    }
}    
