<main class="main">
  <h1 class="print-hide">{{ "TITLE" | translate}}</h1>
  <section id="instructions" class="print-hide">
    <h2>{{ "INSTRUCTIONS" | translate }}</h2>
    {{ "SMALL_DESCRIPTION" | translate}}
    <ul>
      <li>
        <strong>{{ "BLACK_CARDS" | translate}}</strong>: {{ "BLACK_CARDS_DESCRIPTION" | translate}}
      </li>
      <li>
        <strong>{{ "WHITE_CARDS" | translate}}</strong>: {{ "WHITE_CARDS_DESCRIPTION" | translate}}
      </li>
    </ul>
  </section>
  <section id="configuration" class="print-hide">
    <h2 class="flex-row vertical-center gap-1">
      <img height="24" width="24" src="assets/icons/settings_outline_icon.svg" />
      {{ "CONFIGURATION_AND_SHARING" | translate}}</h2>
    <div class="flex-col gap-1 print-hide">
      <div class="flex-row gap-1">
        <button class="dark-button flex-row justify-center vertical-center gap-1" (click)="onPrintClick()">
          <img height="24" width="24" src="assets/icons/print_filled_icon.svg" />
          {{ "PRINT" | translate }}
        </button>
        <button class="dark-button flex-row justify-center vertical-center gap-1" (click)="handleExportClick()">
          <img height="24" width="24" src="assets/icons/save_outline_icon.svg" />
          {{ "DOWNLOAD" | translate }}
        </button>

        <app-file-upload />
      </div>
      <div class="flex-row gap-1">
        <button class="dark-button" (click)="setCardSize(CARDSIZE.SM)" [disabled]="cardSize === CARDSIZE.SM">{{ "SMALL_SIZE" | translate }}</button>
        <button class="dark-button" (click)="setCardSize(CARDSIZE.L)" [disabled]="cardSize === CARDSIZE.L">{{ "ORIGINAL_SIZE" | translate }}</button>
      </div>
      <div class="flex-row gap-1">
        <button class="light-button" (click)="handleClearLocallyClick()">{{ "CLEAR" | translate }}</button>
        <button class="dark-button flex-row justify-center vertical-center gap-1" (click)="setLanguage(currentLang === 'en'? 'es': 'en')">
          {{ "CHANGE_LANGUAGE" | translate }}
        </button>
      </div>
    </div>
  </section>
  <section id="white-cards">
    <h2 class="print-hide flex-row vertical-center gap-1">
      <img height="24" width="24" src="assets/icons/style_outline_icon.svg" />
      {{ "WHITE_CARDS" | translate}}
    </h2>
    <div class="cards-container" [ngClass]="ngClassCards" [class.new-page-after]="this.whiteCards().length > 0">
      <app-add-new-card [cardSize]="cardSize" [cardColor]="CARDCOLOR.WHITE" (addNewCard)="addWhiteCard()" />
      @for (item of whiteCards(); track item.id) {
        <app-card [card]="item" [cardColor]="CARDCOLOR.WHITE" (removeCard)="removeCardFromWhiteCards($event)" />
      }
    </div>
  </section>
  <section id="black-cards">
    <h2 class="print-hide flex-row vertical-center gap-1">
      <img height="24" width="24" src="assets/icons/style_filled_icon.svg" />
      {{ "BLACK_CARDS" | translate}}
    </h2>
    <div class="cards-container" [ngClass]="ngClassCards">
      <app-add-new-card [cardSize]="cardSize" [cardColor]="CARDCOLOR.BLACK" (addNewCard)="addBlackCard()" />
      @for (item of blackCards(); track item.id) {
        <app-card [card]="item" [cardColor]="CARDCOLOR.BLACK" (removeCard)="removeCardFromBlackCards($event)" />
      }
    </div>
  </section>
  <section id="license" class="print-hide">
    <h2>{{ "LICENSE" | translate }}</h2>
    <div lang="en">
      <div class="license-warning">
        <strong>Cards Against Humanity</strong> is a trademark of Cards Against Humanity, LLC; Cards Against Humanity is
        distributed under a Creative Commons BY-NC-SA 2.0 license.
      </div>
      <div class="font-warning">
        The current web uses <strong>'Roboto'</strong> font due to Helvetica Neue license restrictions.
      </div>
    </div>
  </section>
</main>